<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="{{opened}}">
      <ul>
        <button mat-menu-item routerLink="/home"> Inicio </button>
        <button mat-menu-item [matMenuTriggerFor]="courses"> Cursos </button>
        <mat-menu #courses="matMenu">
          <button *ngFor="let course of courses" mat-menu-item routerLink="/{{course.name}}"> {{course.name}} </button>
        </mat-menu>
      </ul>     
  </mat-sidenav>
  <mat-sidenav-content>
      <button *ngIf="opened" mat-button (click)="toggle()"> X </button>
      <button *ngIf="!opened" mat-button (click)="toggle()">Menu</button>
      <!-- MAIN SECTION -->
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
